.scrummer-points, .scrummer-list-points {
    color: #fff;
    font-weight: normal;
    background-color: rgb(136, 201, 138);
    font-size: 11px;
    position: relative;
    top: -1px;
    padding: 2px 5px;
    margin: 0 5px 0 0;
}
