.scrummer-points, .scrummer-list-points, .scrummer-picker-button {
  background-color: #50BBE4;
  background-image: -webkit-linear-gradient(bottom, #4CB2D9 50%, #50BBE4 50%);
  padding: 1px 5px;
  margin-right: 3px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
}

.scrummer-points {
  font-size: 12px;
  top: -1px;
  position: relative;
}

.scrummer-picker-container {
  margin: 15px 0 15px;
}

.scrummer-picker-button {
  font-size: 18px;
  padding: 3px 9px;
  margin-right: 5px;
}

.scrummer-picker-button:hover {
  background-color: #4CB2D9;
}

.scrummer-separator-card {
  background-color: #50BBE4;
  background-image: -webkit-linear-gradient(bottom, #4CB2D9 50%, #50BBE4 50%);  
}

.scrummer-separator-card .list-card-title {
  text-align: center;
  top: 2px;
  position: relative;
  color: #fff;
}
