.scrummer-points, .scrummer-list-points, .scrummer-board-points, .scrummer-picker-button,
.scrummer-post-points, .scrummer-list-post-points, .scrummer-board-post-points, .scrummer-picker-post-button {
  padding: 1px 5px;
  margin-right: 3px;

  text-decoration: none;
  color: #fff;
  font-weight: normal;
}

.scrummer-points, .scrummer-list-points, .scrummer-board-points, .scrummer-picker-button {
  background: #47bae0;
  background: linear-gradient(to bottom,  #47bae0 50%, #4dbbe2 50%, #33b5e0 50%); /* W3C */
  border-radius: 5px;
}

.scrummer-post-points, .scrummer-list-post-points, .scrummer-board-post-points, .scrummer-picker-post-button {
  background: #81cae2;
  background: linear-gradient(to bottom,  #81cae2 50%, #79c6e0 50%, #6cc1dd 50%); /* W3C */
}

.scrummer-points, .scrummer-post-points {
  font-size: 12px;
  top: -1px;
  position: relative;
}

.scrummer-list-points, .scrummer-list-post-points {
  float: left;
}

.scrummer-board-points, .scrummer-board-post-points {
  float: left;
  margin-top: 6px;
}

textarea.mod-list-name.list-header-name {
  float: left;
  width: 60%;
  margin: -3px -2px;
}

.scrummer-picker-container {
  margin: 15px 0 15px;
}

.scrummer-picker-row {
  height: 30px;
}

.scrummer-picker-button {
  font-size: 18px;
  padding: 3px 9px;
  margin-right: 5px;
  color: #fff !important;
}

.scrummer-picker-button:hover {
  color: #ccc !important;
}

.scrummer-picker-post-button {
  font-size: 18px;
  padding: 3px 9px;
  margin-right: 5px;
  color: #fff !important;
}

.scrummer-picker-post-button:hover {
  color: #ccc !important;
}

.scrummer-card-id::after {
  content: ' ';
}
