.scrummer-points, .scrummer-list-points, .scrummer-board-points, .scrummer-picker-button {
  background: #47bae0; /* Old browsers */
  background: -moz-linear-gradient(top,  #47bae0 50%, #4dbbe2 50%, #33b5e0 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#47bae0), color-stop(50%,#4dbbe2), color-stop(50%,#33b5e0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #47bae0 50%,#4dbbe2 50%,#33b5e0 50%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom,  #47bae0 50%,#4dbbe2 50%,#33b5e0 50%); /* W3C */
  padding: 1px 5px;
  margin-right: 3px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
}

.scrummer-points {
  font-size: 12px;
  top: -1px;
  position: relative;
}

.scrummer-list-points {
  float: left;
}

textarea.mod-list-name.list-header-name {
  float: left;
  width: 80%;
  margin: -3px -2px;
}

.scrummer-picker-container {
  margin: 15px 0 15px;
}

.scrummer-picker-button {
  font-size: 18px;
  padding: 3px 9px;
  margin-right: 5px;
  color: #fff !important;
}

.scrummer-picker-button:hover {
  color: #ccc !important;
}

.scrummer-separator-card {
  background: #47bae0; /* Old browsers */
  background: -moz-linear-gradient(top,  #47bae0 50%, #4dbbe2 50%, #33b5e0 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#47bae0), color-stop(50%,#4dbbe2), color-stop(50%,#33b5e0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #47bae0 50%,#4dbbe2 50%,#33b5e0 50%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom,  #47bae0 50%,#4dbbe2 50%,#33b5e0 50%); /* W3C */
}

.scrummer-separator-card .list-card-title {
  text-align: center;
  top: 2px;
  position: relative;
  color: #fff !important;
}

.scrummer-board-points {
  float: left;
  margin: 6px -3px 0 0;
}
